@import url('https://v1.fontapi.ir/css/Samim');
body {
	font-family: samim;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
	flex-direction: column;
}
.container {
	position: absolute;
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	transform: translate(0 , -50%);
	top: 50%;
}
.maindiv {
	display: flex;
	flex-direction: row;
}
.info {
	display: flex;
	flex-direction: column;	
}
.label {
	border: 2px solid black;
	height: 10vmin;
	width: 42vmin;
	border-radius: 0px 0px 0px 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
img {
	border: 2px solid black;
	border-radius: 20px 0px 0px 0px;
	height: 42vmin;
	width: 42vmin;
	margin-right: 5px;
}
.social {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	border: 2px solid black;
	border-radius: 0px 20px 0px 0px;
	padding: 3vmin;
}
a {
	text-decoration: none;
	color: black;
}
a.skillsButton {
	color: whitesmoke;
	background-color: black;
	padding: 15px 30px;
	border-radius: 0px 0px 20px 20px;
	margin-top: 5px;
	text-align: center;
}
